/***************************************************************************************************/
/* BIG TABLET TO 1200px (WIDTH SMALLER THEN THE 1140px ROW) */
/***************************************************************************************************/
@media only screen and (max-width: 1200px) {
    
    .row {
        padding: 0 2%;
    }
    
/*---------------------------------------*/
/* NAVI */
/*---------------------------------------*/

    .main-logo-square {
        width: 53%;
        left: 23.5%;
}
    
/*---------------------------------------*/
/* SECTION CONTACT */
/*---------------------------------------*/  
    #map {
        width: 100%;
        height: 400px;
        padding: 0 5%;
    } 
    
/*---------------------------------------*/
/* FOOTER */
/*---------------------------------------*/      
    
    .icons {
        margin-top: -40px;
        height: auto;
    }
    
    #conc {
        margin-right: 40px;
    }
}

/***************************************************************************************************/
/* SMALL TABLET TO BIG TABLET: FROM 768px to 1023px */
/***************************************************************************************************/
@media only screen and (max-width: 1023px) {

/*---------------------------------------*/
/* NAVI */
/*---------------------------------------*/

    h2 {
        font-size: 170%
    }
    
    .main-logo-square {
        width: 63%;
        left: 18.5%;

    }
    
/*---------------------------------------------------------*/
/* SECTION CONTACT */
/*---------------------------------------------------------*/

    #addresslogo {
        width: 90%;
        margin-left: 3px;
        margin-top: 20px;
    }

/*---------------------------------------------------------*/
/* FOOTER */
/*---------------------------------------------------------*/

    footer #copy {
        font-size: 60%;
        margin-top: 85px;
    }

    .icons {
        margin-top: -30px;
    }

    #down-nav li a {
        font-size: 90%;
    }
}

/***************************************************************************************************/
/* ONLY 812PX iPhone X */
/***************************************************************************************************/
@media only screen and (max-width: 812px) {
       
    .main-logo-square {
            width: 45%;
            left: 27.5%;
    }
}

/***************************************************************************************************/
/* SMALL PHONES TO SMALL TABLETS: FROM 481px TO 767px */
/***************************************************************************************************/
@media only screen and (max-width: 767px) {

/*---------------------------------------------------------*/
/* NAVI */
/*---------------------------------------------------------*/
   
    nav {
        margin-top: -2px;
    }
    
    .main-logo-square {
        width: 54%;
        left: 23%;
    }
    
/*---------------------------------------------------------*/
/* STICKY NAVI */
/*---------------------------------------------------------*/

    .sticky {
        height: 35px;
        padding-top: 2px;
        font-size: 60%;
    }

/*---------------------------------------------------------*/
/* BUTTONS */
/*---------------------------------------------------------*/

    .btn:link,
    .btn:visited {
        font-size: 84%;
        padding: 5px;
    }

/*---------------------------------------------------------*/
/* SECTION SERVICE */
/*---------------------------------------------------------*/
    
    #subaru {
        padding-top: 40px;
}
    
/*---------------------------------------------------------*/
/* SECTION WERE */
/*---------------------------------------------------------*/

    .seria {
        width: 70%;
        height: auto;
        margin-left: 15%;
    }

/*---------------------------------------------------------*/
/* SECTION CONTACT */
/*---------------------------------------------------------*/

    h3 {
        font-size: 180%;
        text-align: center;
    }
    
    #address {
        font-size: 120%;
        text-align: center;
    }

    #addresslogo {
        margin-left: 5%;
        margin-top: 0;
    }
    
    #map {
        width: 100%;
        height: 250px;
    }
    
/*---------------------------------------------------------*/
/* FOOTER */
/*---------------------------------------------------------*/
   
    footer {
        height: 178px;
    }
    
    footer #copy {
        font-size: 60%;
    }

    .icons {
        margin-top: -100px;
        width: 300px;
    }

    .icons i {
        font-size: 300%;
        margin-right: 10px;
    }

    #conc {
        height: 60px;
    }

    #down-nav li {
        float: none;
        padding: 5px 0;
    }

/*---------------------------------------*/
/* SPAN */
/*---------------------------------------*/ 

    .span-1-of-2,
    .span-2-of-2,
    .span-1-of-3,
    .span-2-of-3 {
        width: 100%; 
    } 
}

/***************************************************************************************************/
/* SMALL PHONES FROM 0 TO 480px */
/***************************************************************************************************/
@media only screen and (max-width: 480px) {
    
    section {
        padding: 0 5% 5% 5%;
    }
    
/*---------------------------------------------------------*/
/* NAVI */
/*---------------------------------------------------------*/
    nav {
        display: none;
    }
    
    .main-logo-square {
        width: 100%;
        left: 0%;
    }

/*---------------------------------------------------------*/
/* STICKY NAVI */
/*---------------------------------------------------------*/

    .sticky {
        display: none;
    }
    
/*---------------------------------------------------------*/
/* SECTION CONTACT */
/*---------------------------------------------------------*/ 
    h1 {
        font-size: 160%
    }
    
    h1:after {
        width: 200px;
    }
    
    h2,
    h3 {
        font-size: 120%
    }
    
    #address {
        font-size: 80%;
    }

    #map {
        width: 90%;
        height: auto;
        margin: 0 5% 5% 5%;
    } 

/*---------------------------------------------------------*/
/* FOOTER */
/*---------------------------------------------------------*/
   
    footer {
        height: 235px;
    }

    .icons {
        margin-top: 5px;
        width: 240px;
    }

    .icons i {
        margin-right: 0px;
    }

    #conc {
        height: 60px;
        margin-right: 20px;
    }

/*---------------------------------------*/
/* SPAN */
/*---------------------------------------*/ 

    .span-1-of-2,
    .span-2-of-2,
    .span-1-of-3,
    .span-2-of-3 {
        width: 100%; 
    }
}